---
import Head from "./Head.astro";
import "open-props/normalize.min.css";
import "open-props/buttons.min.css";
import "../../global.postcss";
---

<html lang="en">
	<Head />
	<body>
		<slot />
	</body>
</html>
