.visibly-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.center-content-block {
    --max-width: 55rem;

    display: grid;
    grid-template-columns: min(100%, var(--max-width));
    padding-inline: max(1rem, 3vw);
    justify-content: center;
    gap: 1rem;
}
